//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Edit Cars


//- **         .cards 
            each car in data
                .card 
                    h2.card__name #{car.properties.name}
                    p.card__brand #{car.properties.brand}
                    p.card__type #{car.properties.type}
                    p.card__kms #{car.properties.number_of_kms}