//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Edit a new Car
        .form-wrapper
            form(action=`/cars/edit/${data.hs_object_id}`, method="POST")
                input(name="name", value=data.name)
                input(name="brand", value=data.brand)
                input(name="type", value=data.type)
                input(name="number_of_kms", value=data.number_of_kms)
                button(type="submit") Save changes
            a(href="/") Back to overview